In [17]:
import numpy as np
import pandas as pd
from scipy.stats import linregress
from matplotlib import pyplot as plt
import random

In [18]:
Series_name=[]
df=pd.read_csv('./data_sets/climate_change_data.csv')
df

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,ABW,Aruba,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,29.57,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,ADO,Andorra,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.00,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,AFG,Afghanistan,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.00,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,AGO,Angola,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.21,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,ALB,Albania,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,4.97,..,..,..,...,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13507,YEM,"Yemen, Rep.",SP.URB.TOTL,Urban population,0,0,2497175.68,2693642.26,2909756.36,3139637.32,...,5148619.31,5410331.21,5683412.00,5967457.83,6275723.04,6597265.19,6932788.71,7283068.41,7648699.452,..
13508,ZAF,South Africa,SP.URB.TOTL,Urban population,0,0,18304000.00,18864881.58,19446091.55,20048481.07,...,26345562.75,26904362.60,27448218.30,27988692.12,28533559.52,29079838.13,29636881.56,30193795.83,30844632.10,..
13509,ZAR,"Congo, Dem. Rep.",SP.URB.TOTL,Urban population,0,0,10120930.83,10569454.39,11060046.85,11568627.56,...,16125336.27,16867832.79,17640845.61,18431987.56,19333729.39,20261443.15,21216476.38,22201848.32,23219959.84,..
13510,ZMB,Zambia,SP.URB.TOTL,Urban population,0,0,3096860.88,3141668.30,3183257.23,3223514.67,...,3729882.68,3819640.74,3912870.73,4011827.75,4128986.90,4253139.48,4384858.57,4524564.08,4614728.013,..
13511,ZWE,Zimbabwe,SP.URB.TOTL,Urban population,0,0,3036068.58,3175022.71,3310511.55,3443081.82,...,4367338.80,4422102.37,4469726.76,4512876.27,4558288.49,4600586.91,4649406.16,4717663.77,4814866.882,..

In [19]:
GDP_df=df.loc[df['Series name'] == "GDP ($)"]

In [20]:
GDP_df=GDP_df.loc[GDP_df['1990'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1991'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1992'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1993'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1994'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1995'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1996'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1997'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1998'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1999'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2000'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2001'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2002'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2003'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2004'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2005'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2006'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2007'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2008'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2009'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2010'] !=".."]
GDP_df.drop(['2011','SCALE','Decimals','Country code',"Series code","Series name"],axis=1,inplace=True)

In [24]:
temp=df
Pop_df=temp.loc[df['Series name'] == "Population"]
Pop_df.drop(['2011','SCALE','Decimals','Country code',"Series code","Series name"],axis=1,inplace=True)

In [27]:
GDP_df = GDP_df.set_index('Country name',drop=True)

In [28]:
Pop_df = Pop_df.set_index('Country name',drop=True)

In [38]:
test_df=GDP_df.merge(Pop_df,how='inner',left_index=True,right_index=True,suffixes=('_GDP','_Pop'))

In [43]:
test_df['1990_GDP_by_pop']=test_df['1990_GDP'].astype(float)/test_df['1990_Pop'].astype(float)
test_df['1991_GDP_by_pop']=test_df['1991_GDP'].astype(float)/test_df['1991_Pop'].astype(float)
test_df['1992_GDP_by_pop']=test_df['1992_GDP'].astype(float)/test_df['1992_Pop'].astype(float)
test_df['1993_GDP_by_pop']=test_df['1993_GDP'].astype(float)/test_df['1993_Pop'].astype(float)
test_df['1994_GDP_by_pop']=test_df['1994_GDP'].astype(float)/test_df['1994_Pop'].astype(float)
test_df['1995_GDP_by_pop']=test_df['1995_GDP'].astype(float)/test_df['1995_Pop'].astype(float)
test_df['1996_GDP_by_pop']=test_df['1996_GDP'].astype(float)/test_df['1996_Pop'].astype(float)
test_df['1997_GDP_by_pop']=test_df['1997_GDP'].astype(float)/test_df['1997_Pop'].astype(float)
test_df['1998_GDP_by_pop']=test_df['1998_GDP'].astype(float)/test_df['1998_Pop'].astype(float)
test_df['1999_GDP_by_pop']=test_df['1999_GDP'].astype(float)/test_df['1999_Pop'].astype(float)
test_df['2000_GDP_by_pop']=test_df['2000_GDP'].astype(float)/test_df['2000_Pop'].astype(float)
test_df['2001_GDP_by_pop']=test_df['2001_GDP'].astype(float)/test_df['2001_Pop'].astype(float)
test_df['2002_GDP_by_pop']=test_df['2002_GDP'].astype(float)/test_df['2002_Pop'].astype(float)
test_df['2003_GDP_by_pop']=test_df['2003_GDP'].astype(float)/test_df['2003_Pop'].astype(float)
test_df['2004_GDP_by_pop']=test_df['2004_GDP'].astype(float)/test_df['2004_Pop'].astype(float)
test_df['2005_GDP_by_pop']=test_df['2005_GDP'].astype(float)/test_df['2005_Pop'].astype(float)
test_df['2006_GDP_by_pop']=test_df['2006_GDP'].astype(float)/test_df['2006_Pop'].astype(float)
test_df['2007_GDP_by_pop']=test_df['2007_GDP'].astype(float)/test_df['2007_Pop'].astype(float)
test_df['2008_GDP_by_pop']=test_df['2008_GDP'].astype(float)/test_df['2008_Pop'].astype(float)
test_df['2009_GDP_by_pop']=test_df['2009_GDP'].astype(float)/test_df['2009_Pop'].astype(float)
test_df['2010_GDP_by_pop']=test_df['2010_GDP'].astype(float)/test_df['2010_Pop'].astype(float)

In [53]:
test_df.drop(['1990_GDP','1991_GDP','1992_GDP','1993_GDP','1994_GDP','1995_GDP','1996_GDP','1997_GDP','1998_GDP','1999_GDP','2000_GDP','2001_GDP','2002_GDP','2003_GDP','2004_GDP','2005_GDP','2006_GDP','2007_GDP','2008_GDP','2009_GDP','2010_GDP','1990_Pop','1991_Pop','1992_Pop','1993_Pop','1994_Pop','1995_Pop','1996_Pop','1997_Pop','1998_Pop','1999_Pop','2000_Pop','2001_Pop','2002_Pop','2003_Pop','2004_Pop','2005_Pop','2006_Pop','2007_Pop','2008_Pop','2009_Pop','2010_Pop'],axis=1)

,1990_GDP_by_pop,1991_GDP_by_pop,1992_GDP_by_pop,1993_GDP_by_pop,1994_GDP_by_pop,1995_GDP_by_pop,1996_GDP_by_pop,1997_GDP_by_pop,1998_GDP_by_pop,1999_GDP_by_pop,...,2001_GDP_by_pop,2002_GDP_by_pop,2003_GDP_by_pop,2004_GDP_by_pop,2005_GDP_by_pop,2006_GDP_by_pop,2007_GDP_by_pop,2008_GDP_by_pop,2009_GDP_by_pop,2010_GDP_by_pop
Country name,,,,,,,,,,,,,,,,,,,,,
Angola,992.756820,1144.574971,525.260526,464.800937,345.703055,416.314834,604.401575,600.005503,490.566464,455.496882,...,621.064197,767.721595,905.079111,1239.246030,1857.743098,2655.042216,3449.376803,4666.741352,4068.575715,4422.542824
Albania,638.892178,346.072974,217.158330,380.808911,624.535068,771.862535,968.071952,710.314788,885.908631,1117.705767,...,1329.385031,1440.030143,1819.397838,2388.729275,2666.141620,2893.157853,3377.221517,4076.402136,3772.604741,3678.231748
Argentina,4330.324573,5732.833843,6821.086043,6967.021353,7479.294721,7402.975001,7712.440458,8199.901173,8273.179024,7759.032261,...,7203.256653,2709.706375,3410.337808,3993.906484,4735.983684,5485.523115,6623.863698,8225.669082,7665.073444,9123.738663
Armenia,636.680690,588.979637,368.869465,356.433308,399.678676,455.550276,503.428682,522.991450,609.091322,597.122840,...,690.997783,776.309388,917.174148,1167.831655,1598.339949,2079.733610,2994.708990,3787.492151,2768.612627,2996.306274
Antigua and Barbuda,6295.141048,6539.645272,6641.844385,6998.022978,7475.728830,7199.457887,7680.256669,8017.640963,8357.420329,8578.691062,...,8794.945235,8862.997264,9216.155883,9843.263742,10329.597493,11899.442787,13444.657547,13850.149225,12501.866574,11441.567816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,694.688969,688.649116,719.721643,718.122342,1182.035464,1190.781975,1310.063579,1480.859700,1383.598375,1316.565343,...,1369.789094,1438.066986,1685.297911,2084.080534,2287.102872,2443.270767,2720.503523,3184.106323,2721.943948,3087.175501
South Africa,3182.213788,3345.809343,3557.111166,3479.923697,3546.669386,3862.809024,3593.277880,3636.170692,3205.168813,3102.813819,...,2638.157875,2439.991111,3647.703625,4695.039379,5234.583145,5468.298059,5930.071526,5641.764141,5733.040979,7275.345910
"Congo, Dem. Rep.",256.817737,240.065363,208.048494,260.645812,136.467751,128.063903,127.419139,131.354925,131.250477,97.280293,...,92.015487,105.688214,104.868420,117.836974,123.710817,144.585419,164.171833,186.769078,174.507605,199.271770
Zambia,418.366358,418.542802,384.746049,386.096180,384.991258,389.893968,356.944812,415.197938,334.350806,314.862014,...,348.038023,347.510309,399.868130,485.969548,626.271886,910.817962,957.367154,1182.653770,1006.388182,1252.695718
Zimbabwe,839.014919,803.992263,613.452878,583.732753,600.763024,608.597134,719.278278,705.709524,522.109188,545.923705,...,537.504568,499.003341,448.588650,450.173805,444.157432,415.282250,402.060710,354.654841,467.853435,594.521525

In [51]:
test_df

,1990_GDP,1991_GDP,1992_GDP,1993_GDP,1994_GDP,1995_GDP,1996_GDP,1997_GDP,1998_GDP,1999_GDP,...,2001_GDP_by_pop,2002_GDP_by_pop,2003_GDP_by_pop,2004_GDP_by_pop,2005_GDP_by_pop,2006_GDP_by_pop,2007_GDP_by_pop,2008_GDP_by_pop,2009_GDP_by_pop,2010_GDP_by_pop
Country name,,,,,,,,,,,,,,,,,,,,,
Angola,10260193360.68,12193746624.68,5779394291.76,5285600050.35,4059577145.36,5039534776.49,7526446605.52,7675412589.46,6445192203.75,6154480286.74,...,621.064197,767.721595,905.079111,1239.246030,1857.743098,2655.042216,3449.376803,4666.741352,4068.575715,4422.542824
Albania,2101624960.00,1139166679.07,709452572.66,1228071037.41,1985673025.89,2424498952.88,3013217852.57,2196223713.81,2727745453.08,3434402453.41,...,1329.385031,1440.030143,1819.397838,2388.729275,2666.141620,2893.157853,3377.221517,4076.402136,3772.604741,3678.231748
Argentina,141352368714.69,189719989668.10,228779382768.15,236753563469.87,257439956992.00,258031878144.00,272149757952.00,292858888192.00,298948362240.00,283523022848.00,...,7203.256653,2709.706375,3410.337808,3993.906484,4735.983684,5485.523115,6623.863698,8225.669082,7665.073444,9123.738663
Armenia,2256838858.43,2068526521.90,1272577521.77,1201313196.46,1315158670.48,1468317350.02,1596968913.19,1639492424.38,1893726437.36,1845482181.49,...,690.997783,776.309388,917.174148,1167.831655,1598.339949,2079.733610,2994.708990,3787.492151,2768.612627,2996.306274
Antigua and Barbuda,391570363.45,410388899.42,423762955.48,456537023.05,500088880.06,494185188.31,541074082.30,579851829.76,620037014.23,651851840.34,...,8794.945235,8862.997264,9216.155883,9843.263742,10329.597493,11899.442787,13444.657547,13850.149225,12501.866574,11441.567816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,112058888.22,111908235.97,117883207.85,118613703.55,197000394.48,200357402.77,222670196.53,254361347.16,240113812.86,230621434.54,...,1369.789094,1438.066986,1685.297911,2084.080534,2287.102872,2443.270767,2720.503523,3184.106323,2721.943948,3087.175501
South Africa,112013925352.82,120225327665.39,130513036525.14,130405952096.51,135777933839.56,151113089034.78,143732002576.51,148814150953.26,134295556521.53,133183580945.09,...,2638.157875,2439.991111,3647.703625,4695.039379,5234.583145,5468.298059,5930.071526,5641.764141,5733.040979,7275.345910
"Congo, Dem. Rep.",9349764580.35,9087965281.53,8206227134.01,10707792340.03,5820383305.55,5643439262.22,5771454883.83,6090840526.87,6217806274.76,4711272704.00,...,92.015487,105.688214,104.868420,117.836974,123.710817,144.585419,164.171833,186.769078,174.507605,199.271770
Zambia,3288381745.33,3376791604.16,3182810919.62,3273505269.58,3346574626.64,3477642088.77,3270303736.90,3910384000.05,3237203900.12,3131338936.09,...,348.038023,347.510309,399.868130,485.969548,626.271886,910.817962,957.367154,1182.653770,1006.388182,1252.695718
Zimbabwe,8783816665.90,8641481700.92,6751472200.86,6563813295.23,6890674988.54,7111270668.89,8553146596.98,8529571573.46,6401968164.11,6772312400.63,...,537.504568,499.003341,448.588650,450.173805,444.157432,415.282250,402.060710,354.654841,467.853435,594.521525

In [55]:
temp_2=df
CO2_df=temp_2.loc[df['Series name'] == "CO2 emissions, total (KtCO2)"]
CO2_df.drop(['2011','SCALE','Decimals','Country code',"Series code","Series name"],axis=1,inplace=True)

C:\Users\Oscar\.conda\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [56]:
CO2_df

,Country name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
1631,Aruba,1840.83,1928.84,1723.49,1771.16,1763.83,1785.83,1811.50,1851.84,1668.49,...,2236.87,2255.21,2255.21,2258.87,2273.54,2273.54,2357.88,2288.21,..,..
1632,Andorra,..,..,..,..,..,407.04,425.37,458.38,484.04,...,524.38,531.72,535.38,564.72,575.72,546.38,539.05,539.05,..,..
1633,Afghanistan,2676.91,2493.56,1426.46,1375.13,1320.12,1268.78,1199.11,1114.77,1056.10,...,645.39,359.37,583.05,704.06,700.40,696.73,715.07,814.07,..,..
1634,Angola,4429.74,4367.40,4418.74,5801.19,3890.69,11012.00,10491.29,7381.67,7308.33,...,9732.22,12665.82,9064.82,18793.38,19156.41,22266.02,25151.95,24370.88,..,..
1635,Albania,7488.01,3971.36,2387.22,2343.21,1928.84,2086.52,2016.85,1543.81,1752.83,...,3230.63,3751.34,4290.39,4004.36,4602.09,4231.72,4481.07,4176.71,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859,"Yemen, Rep.",-2999.61,10109.92,14381.97,9431.52,11367.70,11250.36,14935.69,15474.74,12200.11,...,16252.14,15764.43,17304.57,18881.38,20043.82,20791.89,21976.33,23384.46,..,..
1860,South Africa,333513.65,346337.15,324852.20,342549.14,358929.63,353458.46,358639.93,371327.75,372218.84,...,362743.31,347686.61,380810.62,414165.65,408199.44,405709.55,433358.73,435877.96,..,..
1861,"Congo, Dem. Rep.",4070.37,3755.01,3619.33,3410.31,2478.89,2966.60,3248.96,2926.27,2533.90,...,1565.81,1543.81,1697.82,2280.87,2368.88,2460.56,2552.23,2816.26,..,..
1862,Zambia,2445.89,2416.55,2456.89,2500.89,2420.22,2170.86,1870.17,2390.88,2313.88,...,1906.84,1969.18,2101.19,2108.53,2258.87,2284.54,1719.82,1888.51,..,..
1863,Zimbabwe,15504.08,15823.11,16901.20,16208.14,17645.60,15130.04,14994.36,14407.64,14253.63,...,12563.14,11932.42,10626.97,9926.57,10773.65,10344.61,9618.54,9075.83,..,..

In [57]:
Pop_df

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
Country name,,,,,,,,,,,,,,,,,,,,,
Aruba,62147.00,64642.00,68286.00,72573.00,76762.00,80323.00,83069.00,85161.00,86827.00,88442.00,...,92363.00,94596.00,96875.00,99046.00,100996.00,102711.00,104225.00,105526.00,106612.00,107488
Andorra,52773.00,54996.00,57767.00,60670.00,63111.00,64699.00,65227.00,64905.00,64246.00,63985.00,...,66390.00,69043.00,72203.00,75292.00,77888.00,79874.00,81390.00,82577.00,83677.00,84864
Afghanistan,19023678.00,19668810.29,20335820.34,21025450.09,21738466.61,22475663.00,23131309.06,23806081.22,24500537.42,25215251.86,...,26697430.19,27465525.27,28255718.73,29068646.36,29904962.21,30751661.41,31622333.20,32517656.32,33438328.72,34385068.12
Angola,10335052.00,10653515.00,11002910.00,11371750.00,11742960.00,12105105.00,12452725.00,12792237.00,13138265.00,13511575.00,...,14388244.00,14890474.00,15419943.00,15957460.00,16489021.00,17010366.00,17525367.00,18037964.00,18555115.00,19081912.00
Albania,3289483.00,3291695.00,3266983.00,3224901.00,3179442.00,3141102.00,3112597.00,3091902.00,3079037.00,3072725.00,...,3077378.00,3089778.00,3106701.00,3124861.00,3141800.00,3156607.00,3169665.00,3181397.00,3192723.00,3204284.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Yemen, Rep.",11948209.00,12540234.00,13190192.00,13867656.00,14530275.00,15148172.00,15710211.00,16226938.00,16716850.00,17208494.00,...,18266008.00,18831819.00,19419710.00,20026117.00,20648643.00,21288070.00,21946990.00,22626595.00,23328214.00,24052514
South Africa,35200000.00,35933107.76,36690738.76,37473796.40,38283222.67,39120000.00,40000246.95,40926063.04,41899682.78,42923484.53,...,44909738.00,45533292.00,46116494.00,46664771.00,47198469.00,47730946.00,48257282.00,48793022.00,49320150.00,49991300.00
"Congo, Dem. Rep.",36406226.00,37856212.00,39443819.00,41081774.00,42650247.00,44067369.00,45295039.00,46369335.00,47373590.00,48429878.00,...,50989424.00,52491329.00,54098245.00,55754885.00,57420522.00,59088415.00,60772175.00,62474901.00,64204304.00,65965795.00
Zambia,7860053.00,8067972.00,8272498.00,8478471.00,8692599.00,8919456.00,9161931.00,9418120.00,9682058.00,9945115.00,...,10449825.00,10693471.00,10938261.00,11192422.00,11462365.00,11750105.00,12055384.00,12379612.00,12723746.00,12926409
Zimbabwe,10469202.00,10748215.00,11005690.00,11244552.00,11469872.00,11684693.00,11891290.00,12086519.00,12261742.00,12405236.00,...,12575015.00,12607791.00,12612956.00,12597877.00,12570686.00,12529655.00,12481245.00,12451543.00,12473992.00,12571454

In [58]:
GDP_df

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
Country name,,,,,,,,,,,,,,,,,,,,,
Angola,10260193360.68,12193746624.68,5779394291.76,5285600050.35,4059577145.36,5039534776.49,7526446605.52,7675412589.46,6445192203.75,6154480286.74,...,8936023211.53,11431738445.42,13956268299.11,19775218958.00,30632364953.75,45163239832.43,60451594399.40,84178512502.43,75492890278.34,84390572977
Albania,2101624960.00,1139166679.07,709452572.66,1228071037.41,1985673025.89,2424498952.88,3013217852.57,2196223713.81,2727745453.08,3434402453.41,...,4091020249.37,4449373455.57,5652325081.60,7464446950.03,8376483740.48,9132562332.43,10704660840.29,12968653524.78,12044881925.41,11786099137.93
Argentina,141352368714.69,189719989668.10,228779382768.15,236753563469.87,257439956992.00,258031878144.00,272149757952.00,292858888192.00,298948362240.00,283523022848.00,...,268696715264.00,102040334258.58,129597103033.81,153129481873.14,183193408940.74,214066231199.56,260768703249.43,326676673164.78,307081774895.42,368711957357.53
Armenia,2256838858.43,2068526521.90,1272577521.77,1201313196.46,1315158670.48,1468317350.02,1596968913.19,1639492424.38,1893726437.36,1845482181.49,...,2118467913.38,2376335048.40,2807061008.69,3576615240.42,4900436758.50,6384457744.45,9206277478.95,11662017844.89,8541111814.58,9264794733.18
Antigua and Barbuda,391570363.45,410388899.42,423762955.48,456537023.05,500088880.06,494185188.31,541074082.30,579851829.76,620037014.23,651851840.34,...,696251839.56,713533320.73,753107394.11,815396281.90,866818503.21,1010881463.63,1155366646.26,1203314814.81,1097688888.89,1014981481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,112058888.22,111908235.97,117883207.85,118613703.55,197000394.48,200357402.77,222670196.53,254361347.16,240113812.86,230621434.54,...,243336183.69,256677700.11,301905953.02,374507187.86,412220560.26,441660283.46,493164717.06,578899186.47,496485298.05,565203177.9
South Africa,112013925352.82,120225327665.39,130513036525.14,130405952096.51,135777933839.56,151113089034.78,143732002576.51,148814150953.26,134295556521.53,133183580945.09,...,118478978977.56,111100827740.94,168219302326.32,219092937439.46,247064310285.63,261007039378.85,286169133891.57,275278721835.79,282754441019.85,3.63704E+11
"Congo, Dem. Rep.",9349764580.35,9087965281.53,8206227134.01,10707792340.03,5820383305.55,5643439262.22,5771454883.83,6090840526.87,6217806274.76,4711272704.00,...,4691816706.56,5547714815.20,5673197493.84,6569986939.62,7103539716.57,8543323220.41,9977079382.54,11668379641.83,11204139344.77,13145120704.88
Zambia,3288381745.33,3376791604.16,3182810919.62,3273505269.58,3346574626.64,3477642088.77,3270303736.90,3910384000.05,3237203900.12,3131338936.09,...,3636936435.69,3716091408.83,4373861968.24,5439176259.82,7178556949.30,10702206685.72,11541428666.23,14640794797.86,12805027606.31,16192857209
Zimbabwe,8783816665.90,8641481700.92,6751472200.86,6563813295.23,6890674988.54,7111270668.89,8553146596.98,8529571573.46,6401968164.11,6772312400.63,...,6759128009.55,6291329827.36,5658028910.72,5671234225.95,5583363612.44,5203343319.97,5018218225.57,4416000000.00,5836000000.00,7474000000